.site-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a{
    
  text-decoration: none;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo span {
  color: #8b5e3c;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  position: relative;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #8b5e3c;
  transition: width 0.3s;
}

.nav-menu a:hover::after {
  width: 100%;
}

.header-actions {
  display: flex;
  gap: 20px;
}

.header-actions .icon {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}
